body {
  font-family: Roboto, system-ui;
  font-size: 15px;
  line-height: 1.5;
  color: #222;
  background-color: #a5e2ac;
  max-width: 820px;
  margin: 0 auto; 
  padding: 32px 20px;   
}


#rz {
  max-width: 820px;
  margin: 0 auto;
  padding: 24px 20px;
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  gap: 10px;
}
header h1 {
  font-size: 26px;
  font-weight: 600;
}
header h2 {
  font-size: 14px;
  font-weight: 500;
  color: #555;
  margin-top: 4px;
}
header p {
  font-size: 13px;
  color: #666;
}

.bug {
  width: 120px;           
  filter: invert(0.1) brightness(2.0);
  transition: filter 0.3s ease;
}
img.bug:hover {
  filter: invert(0.05) brightness(3.3);
}


#about {
    margin-top: 28px;
}
h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 4px;
}
p {
  margin-bottom: 8px;
 }


#skills {
  margin-top: 14px;
 }
 article h4 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 6px;
 }
 ul {
  margin-left: 18px;
 }
 li {
  margin-bottom: 4px;
}


.icons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 10px;
}


.icbloc {
text-align: center;
  font-size: 13px;
}

.icbloc img {
  width: 48px;        
  margin-bottom: 4px;
}
a {
  font-size: 14px;
  color: #0a66c2;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


#contacts .ic {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

#contacts img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}


.footer {
  margin-top: 40px;
  padding: 16px;
  text-align: center;
  font-size: 13px;
  color: #666;
  border-top: 1px solid #0920ce;
  background-color: #0f1175;
  }

  .gallery {
  display: flex;           
  flex-wrap: wrap;         
  justify-content: center; 
  gap: 20px;               
}

.skrin {
  width: 1200px;
  height: auto;
  object-fit: cover;
  margin: 1px;
  border-radius: 70px;
}